Visual Studio 2010/Projects/WcfServiceEmployee/ConsoleApplicationTest/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceEmployee" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceEmployee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeparmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DeparmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeCode" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
</xs:schema>